html
  head
    title lehlio tian see gee
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')
    link(rel='stylesheet' href='css/main.css')
    meta(meta name='viewport' content='width=device-width, initial-scale=1')
  body
    .banner
     h1.banner-head lehlio
    #player
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js')
    script(src='js/script.js')
